.header{
  height:85px;
  align-items:center;
  display:flex;
  background-color: #232F3E;
  position:sticky;
  top:0;
  z-index:100;
}
.header__logo{
  top:0;
  width: 100px;
  object-fit:contain;
  margin: 0 20px;
  margin-top: 18px;

}
.header__searchIcon{
  padding: 5px;
  height: 22px;
  background-color: #cd9042;
}
.header__search{
  display:flex;
}